body {
    background: #2A7B9B;
    background: linear-gradient(180deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    height: 100vh;
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 75px;
    font-weight: bold;
    margin: 15px;
}
ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    place-items: center;
}
li {
    background-color: #222;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    width: 250px;
    padding: 25px;
    margin: 20px;
}
a {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #f0e15d;
}
p {
    font-size: x-large;
    text-align: center;
    margin: 25px;
}
th {
    font-size: large;
    font-weight: bold;
}
table, tr {
    border: 3px solid #222;
    text-align: center;
}
td, th {
    padding: 15px;
}